{% extends 'base.html' %} {% block content%}

 <h1>About Wellbrew</h1>  
 <hr />
 <h6>Here's some of our favorite venders at Yellow Green Farmers Market. 
 Sign up with an account to create and categorize your own favorite vendors list to always have on hand when you go shopping.</h6>

 <table>
    <thead>
      <tr>
          <th>Name</th>
          <th>Booth</th>
          <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bahamas Breakfast Club</td>
        <td>017</td>
        <td>Restaurant</td>
      </tr>
      <tr>
        <td>Exotic Juices</td>
        <td>027</td>
        <td>Restaurant</td>
      </tr>
      <tr>
        <td>Natural Design</td>
        <td>450</td>
        <td>Plants</td>
      </tr>
      <tr>
        <td>Maria Corona Produce</td>
        <td>030</td>
        <td>Fresh Produce</td>
      </tr>
      <tr>
        <td>Solmos Alms</td>
        <td>284</td>
        <td>Art</td>
      </tr>
      <tr>
        <td>Romancing the Stone</td>
        <td>268</td>
        <td>Accessories</td>
      </tr>
      <tr>
        <td>Pro Massage Therapy</td>
        <td>008</td>
        <td>Relaxation</td>
      </tr>
    
    </tbody>
  </table>
 {% endblock %}