{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Wellbrew</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
  </head>
  <body>
    <!-- Desktop Menu -->
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#" data-target="mobile-demo" class="right sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>
          <a href="{% url 'login' %}" class="right"
            ><i class="material-icons">account_circle</i></a
          >
          <ul>
            <li>
              <a href="/" class="left brand-logo">Wellbrew</a>
            </li>
          </ul>

          <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/directory">Directory</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'businesses_create' %}">Add a Business</a></li>
            <li><a href="{% url 'index' %}">View All Businesses</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <!--  -->

      <!-- Mobile Menu -->
      <ul class="sidenav" id="mobile-demo" >
        <li><a href="/">Home</a></li>
        <li><a href="/directory">Directory</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'businesses_create' %}">Add a Business</a></li>
        <li><a href="{% url 'index' %}">View All Businesses</a></li>
        <li>
          <a href="{% url 'logout' %}">
            Log out
            <ion-icon size="small" name="log-out-outline"></ion-icon>
          </a>
        </li>
        {% else %}
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </ul>
    </header>
    <!--  -->
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer">
      <div class="left">
        <a href="https://github.com/Chyannetech/Wellbrew-1.2">
          <ion-icon size="large" name="logo-github"></ion-icon>
        </a>
        <a href="https://www.linkedin.com/in/chyannerobbins/">
          <ion-icon size="large" name="logo-linkedin"></ion-icon>"
        </a>
      </div>
      <div class="right">All Rights Reserved &copy; 2022 Wellbrew &nbsp;</div>
    </footer>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".sidenav");
        var instances = M.Sidenav.init(elems);
      });
    </script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
