{% extends 'base.html' %} {% block content%}

<style>
  body {
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/015/276/371/original/nicholas-kennedy-paintwithnick-market-process.gif?1547747150");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<div class="home-display"> 
<div class="row">
  <div class="col s12 card transparent z-depth-1">
    <div class="card-panel white">
      <span class="card-title"><a href='directory/'>RESTAURANTS</a></span>
    </div>
    <div class="card-panel white">
      <span class="card-title"><a href='directory/'>FRESH PRODUCE</a></span>
    </div>
    <div class="card-panel white">
      <span class="card-title"><a href='directory/'>ART + ACCESSORIES</a></span>
    </div>
    <div class="card-panel white">
      <span class="card-title"><a href='directory/'>SELF CARE</a></span>
    </div>
  </div>
</div>
  </div>
</div> 
</div>
{% endblock %}
