* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(43, 65, 33);
  color: rgb(0, 0, 0);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  padding-top: 0;
  text-align: right;
}

label {
  color: rgb(175, 126, 3);
}

nav {
  background-color: rgb(47, 77, 22);
  border-bottom: 3px solid transparent;
}

.page-footer {
  color: rgb(236, 236, 231);
  background-color: rgb(178, 170, 14);
}

p {
  color: black;
}

.card-title {
  font-family: "Cutive Mono", monospace;
  text-align: center;
}

.row {
  height: auto;
  min-height: 100vh;
}

nav .brand-logo {
  color: rgb(178, 170, 14);
}

.brand-logo {
  font-family: "Gravitas One", cursive;
}

ion-icon {
  color:aliceblue
}

.sidenav-overlay {
  color: rgb(212, 212, 212);
  
}

h1 {
  color: rgb(236, 236, 231);
  font-family: "Cutive Mono", monospace;
}

h5 {
  color: rgb(255, 242, 102);
  font-weight: 400;
  font-size: larger;
}

a {
  color: rgb(178, 170, 14);
  font-weight: bolder;
}

.card .card-title {
  margin: 0 auto;
}

.div.row {
  height: 100%;
}

hr {
  color: orange;
}

form {
  background-color: rgb(236, 236, 231);
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid rgb(222, 108, 21);
}

table {
  font-size: large;
}

.highlight {
  color: rgba(240, 248, 255, 0.958);
}

table.highlight>tbody>tr:hover {
  background-color: rgba(179, 179, 25, 0.767);      
}

@media only screen and (max-width: 600px) {
  .card {
    flex: 1 1 auto;
  }
}
